

body{
    background: rgba(232,80,60,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(232,80,60,1) 0%, rgba(222,89,40,1) 41%, rgba(242,54,8,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(232,80,60,1)), color-stop(41%, rgba(222,89,40,1)), color-stop(100%, rgba(242,54,8,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(232,80,60,1) 0%, rgba(222,89,40,1) 41%, rgba(242,54,8,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(232,80,60,1) 0%, rgba(222,89,40,1) 41%, rgba(242,54,8,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(232,80,60,1) 0%, rgba(222,89,40,1) 41%, rgba(242,54,8,1) 100%);
    background: radial-gradient(ellipse at center, rgba(232,80,60,1) 0%, rgba(222,89,40,1) 41%, rgba(242,54,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8503c', endColorstr='#f23608', GradientType=1 );
    height:calc(100vh);
    width:100%;

}

#footer{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 12px;
    color:#000;
}


#containerleft{
    
}

#containerright{
    
}

.centrarbox{
    position: absolute;
    
   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); 
    
    
}

#header{

    padding-right: 15px;
    float: right;
    top:0;
}

@media screen and (max-width:480px) {

}

