/* make sidebar nav vertical */ 

.navbar{
    background-color: black;
}

.bloqueizquierdo{
    
    background-color: slategray;
}

.bloquederecho{
    
    background-color:#122b40;
}

.containerbox{
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 25px;
}
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
      
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}