

@media (min-width: 1200px) { /*  mi compu */
.contenedorcentral{}
.caja1{
    
    background-color: #004d40;
    height: 200px;
}
.caja2{
    
    
     background-color:yellowgreen;
     height: 200px;
}
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
.contenedorcentral{}
.caja1{}
.caja2{} 
}

@media (min-width: 768px) and (max-width: 991.98px) { /* primera horizontal*/
.contenedorcentral{}
.caja1{}
.caja2{}
}

@media (min-width: 576px) and (max-width: 767.98px) { 
.contenedorcentral{}
.caja1{}
.caja2{}
}

@media (max-width: 575.98px) { 
.contenedorcentral{}
.caja1{}
.caja2{}
}