
@media (min-width: 1200px) { /*  mi compu */
    .opcionmenu{
        width: 130px;
        height:95px;
        padding-top: 20px;
        background-color:black;
        border-top-color:#252525;
        border-top-style: solid;
        border-top-width: thin;
        font-size: 36px;
        color: orange;
        text-align: center;

    }
    .opcionmenu:hover{
        width: 130px;
        height:95px;
        padding-top: 20px;
        background-color:#252525;
        border-top-color:#252525;
        border-top-style: solid;
        border-top-width: thin;
        font-size: 36px;
        color: orange;
        text-align: center;}

    .contenedor{
        margin-left: -15px;
        padding-top: 90px;
    }

    .boxcontent{ 
        width:15px;

        background-color:black; 
        height: 980px};
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .opcionmenu{
        width: 130px;
        height:95px;
        padding-top: 20px;
        background-color:black;
        border-top-color:#252525;
        border-top-style: solid;
        border-top-width: thin;
        font-size: 36px;
        color: orange;
        text-align: center;
    }
    .opcionmenu:hover{
        width: 130px;
        height:95px;
        padding-top: 20px;
        background-color:#252525;
        border-top-color:#252525;
        border-top-style: solid;
        border-top-width: thin;
        font-size: 36px;
        color: orange;
        text-align: center;}

    .contenedor{
        margin-left: -5px;

        padding-top: 90px;
        width: 30px;}

    .boxcontent{ width: 30px; background-color: #004d40};
}
@media (min-width: 768px) and (max-width: 991.98px) { /* primera horizontal*/
    .opcionmenu{
      
        background-color:black;
        border-right-color:#252525;
        border-right-style: solid;
        border-right-width: thin;
        font-size: 34px;
        color: orange;
        text-align: center;
    }
    .opcionmenu:hover{
        background-color:#252525;
        border-right-color:#252525;
        border-right-style: solid;
        border-right-width: thin;
        font-size: 34px;
        color: orange;
        text-align: center;
    }



}

@media (min-width: 576px) and (max-width: 767.98px) { 

    .opcionmenu{
     
        background-color:black;
        border-right-color:#252525;
        border-right-style: solid;
        border-right-width: thin;
        font-size: 26px;
        color: orange;
        text-align: center;
    }
    .opcionmenu:hover{
        background-color:#252525;
        border-right-color:#252525;
        border-right-style: solid;
        border-right-width: thin;
        font-size: 26px;
        color: orange;
        text-align: center;
    }

}

@media (max-width: 575.98px) { 

    .opcionmenu{
        background-color:black;
        border-right-color:#252525;
        border-right-style: solid;
        border-right-width: thin;
        font-size: 20px;
        color: orange;
        text-align: center;
    }
    .opcionmenu:hover{
        background-color:#252525;
        border-right-color:#252525;
        border-right-style: solid;
        border-right-width: thin;
        font-size: 20px;
        color: orange;
        text-align: center;
    }
}