
.searchbox{
    
    z-index: 4000;
    
    
}

.msgshowbox{

    display: inline-block;

}

.cuadroresult{
    
    border-style: solid;
    border-color: #0091ea;
    border-width:2px;
    padding: 2px;
    background-color: #252525;
    
}