
#div_cargax{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: none;
    z-index:3000;
}

#cargadorx{
    position:absolute;
    width: 10%;
    height: 15%;
    top:40%;
    left: 45%;

}

#actividadesBox{width: 100%}




.boxinfo{
    padding: 5px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #555;
    margin-bottom: 2px;

}

.boxinfo:hover{
    padding: 5px;
    background-color:#555;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    margin-bottom: 2px;

}



.personalinfo{

    margin: 0px;
    padding: 0px;

} 


.labelsi{
    font-size: 14px;
}

.boxcar{
    display: inline-block;
    height: 250px;
    width: 24%;
    margin-left: 5px;
    margin-bottom: 5px;

    -webkit-box-shadow: 3px 4px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 11px -2px rgba(0,0,0,0.75);

}

.boxcarnew{
    background-color: #3593D2;
    display: inline-block;
    height: 250px;
    width: 24%;
    margin-left: 5px;
    margin-bottom: 5px;

    -webkit-box-shadow: 3px 4px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 11px -2px rgba(0,0,0,0.75);

}

.boxcarnew:hover{
    background-color: #555;
    display: inline-block;
    height: 250px;
    width: 24%;
    margin-left: 5px;
    margin-bottom: 5px;

}

.boxcar:hover{
    background-color: #555;
    display: inline-block;
    height: 250px;
    width: 24%;
    margin-left: 5px;
    margin-bottom: 5px;

}

.boxcarcontent{

    height: 120px; 

}

body{
   

        background-image: url("../img/fondo.jpg");
        height: auto;
       
}

@media (min-width: 1200px) {      /*  mi compu   lista*/
    .contenedorcentral{


    }
    .caja1{

        background-color:black;
        height: 200px;
        width: 80px;
        position:fixed;
        height: 100%;
        display: inline-block;
        -webkit-box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        z-index: 700;

    }
    .caja2{
        padding-top: 65px;
        background-image: url("../img/fondo.jpg");
        margin-left: 80px;
        display: inline-block;
        position: absolute;
        height: auto;
        width: 94.99%;


    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .contenedorcentral{

    }
    .caja1{

        background-color:black;
        height: 200px;
        width: 80px;
        position:fixed;
        height: 100%;
        display: inline-block;
        -webkit-box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        z-index: 700;

    }
    .caja2{
        background-image: url("../img/fondo.jpg");
        margin-left: 80px;
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 94.99%;


    }

}

@media (min-width: 768px) and (max-width: 991.98px) { /* primera horizontal*/
    .contenedorcentral{

    }
    .caja1{

        background-color:black;
        height: 200px;
        width: 80px;
        position:fixed;
        height: 100%;
        display: inline-block;
        -webkit-box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        box-shadow: 3px -1px 15px -1px rgba(0,0,0,0.75);
        z-index: 700;

    }
    .caja2{
        background-image: url("../img/fondo.jpg");
        margin-left: 80px;
        display: inline-block;
        position: absolute;
         height: 100%;
        width: 94.99%;


    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .contenedorcentral{}
    .caja1{

        background-color:black;
        height: auto;
        width: 100%;
        position:fixed;


    }
    .caja2{


        background-image: url("../img/fondo.jpg");
         height: 100%;
    }
}

@media (max-width: 575.98px) { 
    .contenedorcentral{}
    .caja1{


        background-color:black;
        height: auto;
    }
    .caja2{


        background-image: url("../img/fondo.jpg");
         height: 100%;
    }
}