@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.miitem{
    
    cursor:  pointer;
}
.miitem:hover{ background-color: #555;
 cursor: pointer;}


.mibox{ cursor: pointer;}
.mibox:hover{ background-color: #DDD; cursor: pointer;}


