

.fondo{ 
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(5,5,5,1) 22%, rgba(5,5,5,1) 25%, rgba(219,86,24,1) 96%, rgba(219,86,24,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(3%, rgba(0,0,0,1)), color-stop(22%, rgba(5,5,5,1)), color-stop(25%, rgba(5,5,5,1)), color-stop(96%, rgba(219,86,24,1)), color-stop(100%, rgba(219,86,24,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(5,5,5,1) 22%, rgba(5,5,5,1) 25%, rgba(219,86,24,1) 96%, rgba(219,86,24,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(5,5,5,1) 22%, rgba(5,5,5,1) 25%, rgba(219,86,24,1) 96%, rgba(219,86,24,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(5,5,5,1) 22%, rgba(5,5,5,1) 25%, rgba(219,86,24,1) 96%, rgba(219,86,24,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(5,5,5,1) 22%, rgba(5,5,5,1) 25%, rgba(219,86,24,1) 96%, rgba(219,86,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#db5618', GradientType=1 ); 

    -webkit-box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.52);
    box-shadow: 0px 10px 8px -2px rgba(0,0,0,0.52);
    padding-right:15px;
    padding-left:15px;



}





@media (min-width: 1200px) { 

    .navlinks{
        
        color: #000;
        
    }
   

    .logoimg{
        padding-top: 20px;
        margin-right: 25px;
        width: 50px;
        height: 70px;

    }

   

    .comfignav{
        height: 48px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .navlinks{
        
        color: #000;
        
    }
   

    .logoimg{
        padding-top: 20px;
        margin-right: 25px;
        width: 50px;
        height: 70px;

    }
    
   

    .comfignav{
        height: 48px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    
      .navlinks{
        
        color: #000;
        
    }
   


    .logoimg{
        margin-right: 25px;
        width: 45px;
        height: 45px;

    }
    
 
 
    .comfignav{
        height: 48px;
    }

   

}

@media (min-width: 576px) and (max-width: 767.98px) {
    
      .navlinks{
        
        color: #000;
        
    }
   

    .logoimg{
        margin-right: 12px;
        width: 45px;
        height: 45px;

    }
    
  
   

}

@media (max-width: 575.98px) { 
    
      .navlinks{
        
        color: #000;
        
    }
   


    .logoimg{
        margin-right: 12px;
        width: 45px;
        height: 45px;

    }
  

}